[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[438 MB Volume]
row=5
col=1

[ROOT-A]
row=0
col=1

[6639-3031]
row=4
col=1

[4.1 KB Volume]
row=0
col=0

[8e7cf347-3c67-4fc1-b715-15c49c91f963]
row=6
col=1

[7d44799d-dd5b-4688-a51f-cd4675f1d14f]
row=3
col=1

[9.6 MB Volume]
row=4
col=0

[7ADD-7E5C]
row=6
col=0

[Trash]
row=0
col=2

[/]
row=1
col=2

[/home/seimori]
row=2
col=2

